* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
}

.game {
  border-bottom: 1px solid;
  height: 300px;
  width: 800px;
  position: relative;
  overflow: hidden;
}

.score {
  position: absolute;
  top: 30px;
  left: 0;
  font-size: x-large;
  z-index: 1000;
}

.dino-container {
  position: absolute;
  bottom: 0;
  width: 280px;
  height: 130px;
  overflow: hidden;
}

.dino {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 280px;
  height: 130px;
  background-image: url('dino1.gif');
  background-size: cover;
  background-repeat: no-repeat;
  transform: scaleX(-1);
}

.cacto {
  position: absolute;
  bottom: 0;
  background-image: url('cacto.png');
  width: 35px;
  height: 70px;
  background-size: 35px;
  background-repeat: no-repeat;
  animation: cacto 3s linear infinite;
}

@keyframes cacto {
  0% {
    right: -20px;
  }
  100% {
    right: 850px;
  }
}

.jump {
  animation: jump 1.1s linear;
}

@keyframes jump {
  0% {
    bottom: 0;
  }

  30% {
    bottom: 80px;
  }

  50% {
    bottom: 100px;
  }

  80% {
    bottom: 80px;
  }

  100% {
    bottom: 0;
  }
}

.passaro {
  position: absolute;
  bottom: 0;
  background-image: url('passaro.gif');
  background-size: 200px;
  background-repeat: no-repeat;
  transform: scaleX(-1);
  top: 50px;
  left: 800px;
  width: 40px;
  height: 30px;
  animation: moveLeft 5s linear infinite;
}

@keyframes moveLeft {
  from {
    left: 800px;
  }
  to {
    left: -50px;
  }
}